article{
    border: 1px solid #E0E0E0;
    background-color: #FFFFFF;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;

    &:hover{
        background-color: #F5F5F5;
    }

    &.selected{
        background-color: #F7F9FB;
    }
    
}