.details{
    height: 100%;
    flex:2;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @media only screen and (max-width: 600px) {
      height: 60vh;
      overflow: auto;
    }
  }