.mainHeading {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @media only screen and (max-width: 768px) {
        flex-direction: column;
    }

    label{
        position: absolute;
        right: 10rem;

        @media only screen and (max-width: 768px) {
            position: relative;
            right:0;
        }
    }
}

main {
    height: 90vh;
    display: flex;
    background-color: #F5F5F5;

    @media only screen and (max-width: 768px) {
       flex-direction: column;
       overflow: auto;
       gap: 2rem;
    }
}