.mainHeading {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 90vh;
    display: flex;
    background-color: #F5F5F5;

    @media only screen and (max-width: 600px) {
       flex-direction: column;
       overflow: auto;
       gap: 2rem;
    }
}