.articlesList{
    height: 100%;
    flex:1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 3px;

    @media only screen and (max-width: 600px) {
      height: 40vh;
    }
  }